.wrapper {
  width: 500px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
}
.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
button {
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
}
.progressBar {
  border-radius: 10px;
}
.widthVal {
  position: absolute;
  top: 10%;
  right: 50%;
}
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100vw;
  }
}
